In [1]:
import numpy as np
import pandas as pd
# import seaborn as sns 
# import matplotlib.pyplot as plt 

from collections import defaultdict

# import sys
# sys.path.append(r'C:\Users\jcmar\my_files\SportsBetting\FeatureEngineering\ufc_features')
# sys.path.append(r'C:\Users\jcmar\my_files\SportsBetting\FeatureEngineering')

In [42]:
fp = r'/Users/jmarc/ BU/Github_Repos/sports_betting/data/new_combined.csv'
df_combined = pd.read_csv(fp)

/var/folders/sz/jlyxtdx170z93s54v4z08tph0000gn/T/ipykernel_10040/3556932660.py:2: DtypeWarning: Columns (79,83) have mixed types. Specify dtype option on import or set low_memory=False.
  df_combined = pd.read_csv(fp)

In [40]:
df_combined['ratio_control_red'].isna().sum()

np.int64(772)

In [41]:
df_combined['']

,td_defense_pct_red,td_total_attempted_against_red,td_total_landed_against_red,td_defense_pct_blue,td_total_attempted_against_blue,td_total_landed_against_blue,sig_str_defense_pct_red,sig_str_total_attempted_against_red,sig_str_total_landed_against_red,sig_str_defense_pct_blue,...,womens_fight,ratio_td_red,ratio_td_blue,ratio_control_red,ratio_control_blue,ratio_sigstrike_red,ratio_sigstrike_blue,ratio_td_diff,ratio_control_diff,ratio_sigstrike_diff
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
for c in df_combined.columns: 
    if df_combined[c].isna().sum() > 3000: 
        print(c, '  ',df_combined[c].isna().sum())

ratio_td_red    8007
ratio_td_blue    8007
ratio_sigstrike_red    8007
ratio_sigstrike_blue    8007
ratio_td_diff    8007
ratio_sigstrike_diff    8007

In [32]:
df_combined['sig_str_landed_total_red'].isna().sum()

np.int64(772)

In [37]:
df_combined['sig_str_landed_total_red'].tail(20)

7987     566.0
7988     125.0
7989       NaN
7990     303.0
7991     312.0
7992     122.0
7993      55.0
7994     259.0
7995     227.0
7996     502.0
7997     425.0
7998     119.0
7999     324.0
8000     239.0
8001     540.0
8002     503.0
8003       NaN
8004    1199.0
8005     476.0
8006       NaN
Name: sig_str_landed_total_red, dtype: float64

In [18]:
print(df_combined['td_landed_total_red'].isna().sum())

772

In [23]:
print(type(df_combined['td_landed_total_red'].iloc[-1]))

<class 'numpy.float64'>

In [15]:
test_csv = pd.read_csv(r'C:\Users\jcmar\my_files\SportsBetting\data\all_stats_v2.csv')

In [27]:
duplicates = odds_stats.groupby(['red_fighter', 'blue_fighter','date']).size().reset_index(name='count').query('count>1')
print(duplicates)
dup_keys = duplicates[['red_fighter', 'blue_fighter', 'date']]

duplicate_rows = odds_stats.merge(
    dup_keys,
    on=['red_fighter', 'blue_fighter', 'date'],
    how='inner'
)

for name, group in duplicate_rows.groupby(['red_fighter', 'blue_fighter', 'date']):
    print(f"\nGroup: {name}")
    # print(group)

    group_no_index = group.drop(columns=['red_fighter', 'blue_fighter', 'date'])
    
    # Find which columns have more than one unique value
    diff_cols = group_no_index.nunique()[group_no_index.nunique() > 1].index.tolist()

    if len(diff_cols) == 0:
        print("✅ All rows in this group are exactly the same.")
    else:
        print("⚠️ These columns differ between rows:", diff_cols)

           red_fighter        blue_fighter       date  count
1239     chris barnett        martin buday 2022-04-16      2
1595    curtis blaydes       rizvan kuniev 2025-06-21      2
2884  hamdy abdelwahab      mohammed usman 2025-06-21      2
3020   irina alekseeva      klaudia sygula 2025-06-21      2
5146      max holloway      dustin poirier 2025-07-19      2
6030     rafael fiziev  ignacio bahamondes 2025-06-21      2
6379  robert whittaker   reinier de ridder 2025-07-26      2
6735      seokhyeon ko        oban elliott 2025-06-21      2
6982   tagir ulanbekov         azat maksum 2025-06-21      2
7284     tofiq musayev    myktybek orolbai 2025-06-21      2

Group: ('chris barnett', 'martin buday', Timestamp('2022-04-16 00:00:00'))
⚠️ These columns differ between rows: ['open_blue', 'close1_blue', 'close2_blue', 'open_red', 'close1_red', 'close2_red']

Group: ('curtis blaydes', 'rizvan kuniev', Timestamp('2025-06-21 00:00:00'))
⚠️ These columns differ between rows: ['close1_blue', 'close2_red']

Group: ('hamdy abdelwahab', 'mohammed usman', Timestamp('2025-06-21 00:00:00'))
⚠️ These columns differ between rows: ['close1_blue', 'close2_blue', 'close1_red', 'close2_red']

Group: ('irina alekseeva', 'klaudia sygula', Timestamp('2025-06-21 00:00:00'))
⚠️ These columns differ between rows: ['close1_blue', 'close1_red', 'close2_red']

Group: ('max holloway', 'dustin poirier', Timestamp('2025-07-19 00:00:00'))
⚠️ These columns differ between rows: ['close1_blue', 'close2_blue', 'close1_red', 'close2_red']

Group: ('rafael fiziev', 'ignacio bahamondes', Timestamp('2025-06-21 00:00:00'))
⚠️ These columns differ between rows: ['close2_red']

Group: ('robert whittaker', 'reinier de ridder', Timestamp('2025-07-26 00:00:00'))
⚠️ These columns differ between rows: ['close1_blue', 'close1_red', 'close2_red']

Group: ('seokhyeon ko', 'oban elliott', Timestamp('2025-06-21 00:00:00'))
⚠️ These columns differ between rows: ['close1_red']

Group: ('tagir ulanbekov', 'azat maksum', Timestamp('2025-06-21 00:00:00'))
⚠️ These columns differ between rows: ['close2_blue', 'close1_red']

Group: ('tofiq musayev', 'myktybek orolbai', Timestamp('2025-06-21 00:00:00'))
⚠️ These columns differ between rows: ['close1_blue', 'close2_blue', 'close1_red', 'close2_red']

In [28]:
result = odds_stats[odds_stats['blue_fighter'].str.contains('Poirier', case=False, na=False)]

result.tail()

,control_pr_red,td_pr_red,sub_att_pr_red,sigstrikes_pm_red,head_strikes_pm_red,leg_strikes_pm_red,body_strikes_pm_red,clinch_strikes_pm_red,ground_strikes_pm_red,kd_pr_red,...,red_fighter_stats,blue_fighter_stats,open_blue,close1_blue,close2_blue,open_red,close1_red,close2_red,red_fighter_odds,blue_fighter_odds
4865,147.122727,1.510606,0.162121,4.044848,3.558788,0.186364,0.299697,0.159091,2.500909,0.121212,...,Khabib Nurmagomedov,Dustin Poirier,205.0,315.0,350.0,-240.0,-455.0,-400.0,Khabib Nurmagomedov,Dustin Poirier
5945,49.363095,0.625000,0.684524,2.095238,1.167857,0.415476,0.511905,0.375000,0.425000,0.119048,...,Charles Oliveira,Dustin Poirier,-165.0,-143.0,-130.0,145.0,110.0,120.0,Charles Oliveira,Dustin Poirier
7194,107.465556,0.825556,0.372222,2.053111,1.416000,0.108000,0.529111,0.402000,0.693333,0.188889,...,Islam Makhachev,Dustin Poirier,280.0,300.0,350.0,-400.0,-500.0,-400.0,Islam Makhachev,Dustin Poirier
7775,15.903333,0.072778,0.102222,6.394667,4.268889,0.617000,1.508778,0.534000,0.403222,0.156667,...,Max Holloway,Dustin Poirier,110.0,-120.0,100.0,-130.0,-127.0,-108.0,Max Holloway,Dustin Poirier
7776,15.903333,0.072778,0.102222,6.394667,4.268889,0.617000,1.508778,0.534000,0.403222,0.156667,...,Max Holloway,Dustin Poirier,110.0,-110.0,-102.0,-130.0,-122.0,-110.0,Max Holloway,Dustin Poirier